.mj-table-scroll {
  height: 300px;
  overflow-y: auto;
}
.dropdown-left.dropdown-menu {
  right: 0;
  left: auto;
}
.panel .panel-heading {
  cursor: pointer;
  padding-left: 40px;
  background: url('../imgs/menu.png') no-repeat 15px center;
}
.panel .panel-collapse.collapse.in ~ .panel-heading {
  background: red;
}
.xui-pointer {
  cursor: pointer;
}
.fa.fa-search.form-control-feedback {
  line-height: 27px;
}
.table th {
  border-right: 1px solid #e5e5e5;
}
.table th:last-child {
  border-right: none;
}
.table-fixed {
  table-layout: fixed;
}
/**
  按钮形式的单选框、复选框
  用在实力监控的图表切换上
 */
.mj-btn-opt-group .opt-item {
  float: left;
  margin-left: -1px;
}
.mj-btn-opt-group .opt-item .btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  display: block;
}
.mj-btn-opt-group .opt-item input {
  position: absolute;
  width: 0;
  height: 0;
  visibility: hidden;
}
.mj-btn-opt-group .opt-item input:checked ~ label.btn-primary {
  background-color: #286090;
  -webkit-box-shadow: inset 0px 3px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 3px 10px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 3px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 10;
}
.mj-btn-opt-group .opt-item input:checked ~ label.btn-default {
  background-color: #eeeeee;
  -webkit-box-shadow: inset 0px 3px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 3px 10px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 3px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 10;
}
.mj-btn-opt-group .opt-item:first-child .btn {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.mj-btn-opt-group .opt-item:last-child .btn {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.mj-btn-opt-group.mj-btn-group-area .opt-item input:checked ~ label.btn-default {
  border-color: #71A9E0;
  background: #D8EBFF;
  color: #2277da;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.mj-btn-border-group.mj-btn-group-area .area-item {
  float: left;
  margin-right: -1px;
  padding-top: 10px;
  position: relative;
  margin-bottom: 15px;
}
.mj-btn-border-group.mj-btn-group-area .area-item button {
  min-width: 100px;
}
.mj-btn-border-group.mj-btn-group-area .area-item .area-hint {
  position: absolute;
  top: 0;
  color: #aaa;
  text-align: center;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  border-top: 1px solid #ddd;
}
.mj-btn-border-group.mj-btn-group-area .area-item .area-hint span {
  position: relative;
  background-color: #fff;
  top: -10px;
  padding-left: 3px;
  padding-right: 3px;
}
/**
  边框按钮组
*/
.mj-btn-border-group .btn.active {
  border-color: #71A9E0;
  background: #D8EBFF;
  color: #2277da;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.mj-btn-border-group .btn:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.mj-btn-border-group .btn:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
/**
  购买按钮
*/
.btn-orange {
  color: #fff;
  background-color: #eb651d;
  border-color: #eb651d;
}
.btn-orange:hover {
  color: #fff;
  background-color: #da540c;
  border-color: #da540c;
}
/**
  选择框
  左侧选中后，在右侧显示出来
  负载均衡——二级页面——监听器管理——绑定云主机
 */
.mj-choose-box {
  position: relative;
}
.mj-choose-box .option-box {
  overflow-y: auto;
  height: 350px;
  border: 1px solid #d1d2d3;
  background-color: #fff;
  text-align: center;
}
.mj-choose-box .option-box li {
  height: 60px;
  position: relative;
  font-size: 12px;
  line-height: 20px;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #ddd;
}
.mj-choose-box .option-box li label {
  display: block;
  padding: 10px 10px 10px 50px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 60px;
  font-weight: normal;
}
.mj-choose-box .option-box li input {
  position: absolute;
  left: 20px;
  top: 20px;
}
.mj-choose-box .option-box li input:checked ~ label {
  background-color: #c0d9fb;
}
.mj-choose-box .option-box li:hover {
  background-color: #dbe8ff;
}
.mj-choose-box .result-box .result-head {
  height: 34px;
  line-height: 32px;
  border: 1px solid #d1d2d3;
  margin-bottom: -1px;
  padding: 0 10px;
}
.mj-choose-box .result-box .result-body {
  border: 1px solid #d1d2d3;
  height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
}
.mj-choose-box .result-box .result-body li {
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 60px;
  position: relative;
  font-size: 12px;
  line-height: 20px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.mj-choose-box .result-box .result-body li input {
  width: 4em;
  margin-top: 3px;
}
.mj-choose-box .result-box .result-body li span.mj-color-gray {
  margin-left: 5px;
}
.mj-choose-box .result-box .result-body li .fa-close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
.mj-choose-box .result-box .result-body li:hover {
  background-color: #dbe8ff;
}
.mj-choose-box i.fa.fa-arrows-h {
  position: absolute;
  left: 50%;
  margin-left: -11px;
  top: 180px;
}
/*搜索框 整行*/
.mj-search-line {
  position: relative;
  width: 100%;
}
.mj-search-line .btn-searh {
  position: absolute;
  right: 2px;
  top: 0;
  background-color: transparent;
}
/*tab 页签*/
.mj-tablist {
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  height: 50px;
}
.mj-tablist li {
  float: left;
  display: block;
  font-size: 14px;
  padding: 0 25px;
  text-align: center;
  color: #74777c;
  border-radius: 2px 2px 0 0;
  height: 50px;
  line-height: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
}
.mj-tablist li.active {
  border-bottom: 3px solid #2277da;
  color: #2277da;
}
.mj-tab {
  display: none;
}
.mj-tab.active {
  display: block;
}
/* cursor:pointer */
.mj-pointer {
  cursor: pointer;
}
.mj-pointer:hover {
  color: #0055b8;
}
/*switch*/
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-secondary,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-secondary {
  background-color: #ddd;
}
.bootstrap-switch .bootstrap-switch-label {
  -webkit-box-shadow: 0px 0 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.2);
}
/*模态框居中*/
.modal.fade .modal-dialog.modal-dialog-center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
}
/*文字居中 居左 居右*/
.xui-text-center {
  text-align: center;
}
.xui-text-left {
  text-align: left;
}
.xui-text-right {
  text-align: right;
}
/*单行文字截断*/
.mj-text-truncate {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/*border*/
.xui-border {
  border: 1px solid #e5e5e5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*蓝色提示框*/
.mj-info-box {
  border: 1px solid #7AB1DE;
  background-color: #D2E7F7 ;
  font-size: 12px;
  line-height: 22px;
  position: relative;
  padding: 5px 10px;
  vertical-align: middle;
}
/* 设置为block */
.xui-block {
  display: block;
}
/*修改表格*/
.table-expended.table > tbody > tr > td,
.table-expended.table > thead > tr > td {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}
.mj-tr-hover-show {
  display: none;
}
tr:hover .mj-tr-hover-show {
  display: inline-block;
}
/**
  设置字体颜色
 */
.mj-color-yellow {
  color: #ffaf07;
}
.mj-color-orange {
  color: #eb651d;
}
.mj-color-blue {
  color: #2277da;
}
.mj-color-gray {
  color: #a0a0a0;
}
.mj-color-red {
  color: #e13c3d;
}
.mj-color-green {
  color: #0bba85;
}
.mj-color-dark-gray {
  color: #7e7e7e;
}
.mj-bg-gray {
  background-color: #ededed !important;
}
.mj-bg-white {
  background-color: #fff !important;
}
.xui-font-size-xs {
  font-size: 12px;
}
.xui-font-size-sm {
  font-size: 14px;
}
.xui-font-size-md {
  font-size: 16px;
}
.xui-font-size-lg {
  font-size: 18px;
}
.xui-font-size-xl {
  font-size: 20px;
}
.xui-font-size-xxl {
  font-size: 24px;
}
.xui-font-size-xxxl {
  font-size: 30px;
}
.xui-margin,
.xui-margin-children > * {
  margin: 1.6rem;
}
.xui-margin-0,
.xui-margin-children-0 > * {
  margin: 0 !important;
}
.xui-margin-xs,
.xui-margin-children-xs > * {
  margin: 0.5rem;
}
.xui-margin-sm,
.xui-margin-children-sm > * {
  margin: 1rem;
}
.xui-margin-md,
.xui-margin-children-md > * {
  margin: 1.6rem;
}
.xui-margin-lg,
.xui-margin-children-lg > * {
  margin: 2rem;
}
.xui-margin-xl,
.xui-margin-children-xl > * {
  margin: 2.4rem;
}
.xui-margin-xxl,
.xui-margin-children-xxl > * {
  margin: 3.6rem;
}
.xui-margin-left,
.xui-margin-left-children > * {
  margin-left: 1.6rem;
}
.xui-margin-left-0,
.xui-margin-left-children-0 > * {
  margin-left: 0 !important;
}
.xui-margin-left-xs,
.xui-margin-left-children-xs > * {
  margin-left: 0.5rem;
}
.xui-margin-left-sm,
.xui-margin-left-children-sm > * {
  margin-left: 1rem;
}
.xui-margin-left-md,
.xui-margin-left-children-md > * {
  margin-left: 1.6rem;
}
.xui-margin-left-lg,
.xui-margin-left-children-lg > * {
  margin-left: 2rem;
}
.xui-margin-left-xl,
.xui-margin-left-children-xl > * {
  margin-left: 2.4rem;
}
.xui-margin-left-xxl,
.xui-margin-left-children-xxl > * {
  margin-left: 3.6rem;
}
.xui-margin-right,
.xui-margin-right-children > * {
  margin-right: 1.6rem;
}
.xui-margin-right-0,
.xui-margin-right-children-0 > * {
  margin-right: 0 !important;
}
.xui-margin-right-xs,
.xui-margin-right-children-xs > * {
  margin-right: 0.5rem;
}
.xui-margin-right-sm,
.xui-margin-right-children-sm > * {
  margin-right: 1rem;
}
.xui-margin-right-md,
.xui-margin-right-children-md > * {
  margin-right: 1.6rem;
}
.xui-margin-right-lg,
.xui-margin-right-children-lg > * {
  margin-right: 2rem;
}
.xui-margin-right-xl,
.xui-margin-right-children-xl > * {
  margin-right: 2.4rem;
}
.xui-margin-right-xxl,
.xui-margin-right-children-xxl > * {
  margin-right: 3.6rem;
}
.xui-margin-top,
.xui-margin-top-children > * {
  margin-top: 1.6rem;
}
.xui-margin-top-0,
.xui-margin-top-children-0 > * {
  margin-top: 0 !important;
}
.xui-margin-top-xs,
.xui-margin-top-children-xs > * {
  margin-top: 0.5rem;
}
.xui-margin-top-sm,
.xui-margin-top-children-sm > * {
  margin-top: 1rem;
}
.xui-margin-top-md,
.xui-margin-top-children-md > * {
  margin-top: 1.6rem;
}
.xui-margin-top-lg,
.xui-margin-top-children-lg > * {
  margin-top: 2rem;
}
.xui-margin-top-xl,
.xui-margin-top-children-xl > * {
  margin-top: 2.4rem;
}
.xui-margin-top-xxl,
.xui-margin-top-children-xxl > * {
  margin-top: 3.6rem;
}
.xui-margin-bottom,
.xui-margin-bottom-children > * {
  margin-bottom: 1.6rem;
}
.xui-margin-bottom-0,
.xui-margin-bottom-children-0 > * {
  margin-bottom: 0 !important;
}
.xui-margin-bottom-xs,
.xui-margin-bottom-children-xs > * {
  margin-bottom: 0.5rem;
}
.xui-margin-bottom-sm,
.xui-margin-bottom-children-sm > * {
  margin-bottom: 1rem;
}
.xui-margin-bottom-md,
.xui-margin-bottom-children-md > * {
  margin-bottom: 1.6rem;
}
.xui-margin-bottom-lg,
.xui-margin-bottom-children-lg > * {
  margin-bottom: 2rem;
}
.xui-margin-bottom-xl,
.xui-margin-bottom-children-xl > * {
  margin-bottom: 2.4rem;
}
.xui-margin-bottom-xxl,
.xui-margin-bottom-children-xxl > * {
  margin-bottom: 3.6rem;
}
.xui-margin-horizontal,
.xui-margin-horizontal-children > * {
  margin-left: 1.6rem;
  margin-right: 1.6rem;
}
.xui-margin-horizontal-0,
.xui-margin-horizontal-children-0 > * {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.xui-margin-horizontal-xs,
.xui-margin-horizontal-children-xs > * {
  margin-left: .5rem;
  margin-right: 0.5rem;
}
.xui-margin-horizontal-sm,
.xui-margin-horizontal-children-sm > * {
  margin-left: 1rem;
  margin-right: 1rem;
}
.xui-margin-horizontal-md,
.xui-margin-horizontal-children-md > * {
  margin-left: 1.6rem;
  margin-right: 1.6rem;
}
.xui-margin-horizontal-lg,
.xui-margin-horizontal-children-lg > * {
  margin-left: 2rem;
  margin-right: 2rem;
}
.xui-margin-horizontal-xl,
.xui-margin-horizontal-children-xl > * {
  margin-left: 2.4rem;
  margin-right: 2.4rem;
}
.xui-margin-horizontal-xxl,
.xui-margin-horizontal-children-xxl > * {
  margin-left: 3.6rem;
  margin-right: 3.6rem;
}
.xui-margin-vertical,
.xui-margin-vertical-children > * {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}
.xui-margin-vertical-0,
.xui-margin-vertical-children-0 > * {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.xui-margin-vertical-xs,
.xui-margin-vertical-children-xs > * {
  margin-top: .5rem;
  margin-bottom: 0.5rem;
}
.xui-margin-vertical-sm,
.xui-margin-vertical-children-sm > * {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.xui-margin-vertical-md,
.xui-margin-vertical-children-md > * {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}
.xui-margin-vertical-lg,
.xui-margin-vertical-children-lg > * {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.xui-margin-vertical-xl,
.xui-margin-vertical-children-xl > * {
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}
.xui-margin-vertical-xxl,
.xui-margin-vertical-children-xxl > * {
  margin-top: 3.6rem;
  margin-bottom: 3.6rem;
}
.xui-padding,
.xui-padding-children > * {
  padding: 1.6rem;
}
.xui-padding-0,
.xui-padding-children-0 > * {
  padding: 0 !important;
}
.xui-padding-xs,
.xui-padding-children-xs > * {
  padding: 0.5rem;
}
.xui-padding-sm,
.xui-padding-children-sm > * {
  padding: 1rem;
}
.xui-padding-md,
.xui-padding-children-md > * {
  padding: 1.6rem;
}
.xui-padding-lg,
.xui-padding-children-lg > * {
  padding: 2rem;
}
.xui-padding-xl,
.xui-padding-children-xl > * {
  padding: 2.4rem;
}
.xui-padding-xxl,
.xui-padding-children-xxl > * {
  padding: 3.6rem;
}
.xui-padding-left,
.xui-padding-left-children > * {
  padding-left: 1.6rem;
}
.xui-padding-left-0,
.xui-padding-left-children-0 > * {
  padding-left: 0 !important;
}
.xui-padding-left-xs,
.xui-padding-left-children-xs > * {
  padding-left: 0.5rem;
}
.xui-padding-left-sm,
.xui-padding-left-children-sm > * {
  padding-left: 1rem;
}
.xui-padding-left-md,
.xui-padding-left-children-md > * {
  padding-left: 1.6rem;
}
.xui-padding-left-lg,
.xui-padding-left-children-lg > * {
  padding-left: 2rem;
}
.xui-padding-left-xl,
.xui-padding-left-children-xl > * {
  padding-left: 2.4rem;
}
.xui-padding-left-xxl,
.xui-padding-left-children-xxl > * {
  padding-left: 3.6rem;
}
.xui-padding-right,
.xui-padding-right-children > * {
  padding-right: 1.6rem;
}
.xui-padding-right-0,
.xui-padding-right-children-0 > * {
  padding-right: 0 !important;
}
.xui-padding-right-xs,
.xui-padding-right-children-xs > * {
  padding-right: 0.5rem;
}
.xui-padding-right-sm,
.xui-padding-right-children-sm > * {
  padding-right: 1rem;
}
.xui-padding-right-md,
.xui-padding-right-children-md > * {
  padding-right: 1.6rem;
}
.xui-padding-right-lg,
.xui-padding-right-children-lg > * {
  padding-right: 2rem;
}
.xui-padding-right-xl,
.xui-padding-right-children-xl > * {
  padding-right: 2.4rem;
}
.xui-padding-right-xxl,
.xui-padding-right-children-xxl > * {
  padding-right: 3.6rem;
}
.xui-padding-top,
.xui-padding-top-children > * {
  padding-top: 1.6rem;
}
.xui-padding-top-0,
.xui-padding-top-children-0 > * {
  padding-top: 0 !important;
}
.xui-padding-top-xs,
.xui-padding-top-children-xs > * {
  padding-top: 0.5rem;
}
.xui-padding-top-sm,
.xui-padding-top-children-sm > * {
  padding-top: 1rem;
}
.xui-padding-top-md,
.xui-padding-top-children-md > * {
  padding-top: 1.6rem;
}
.xui-padding-top-lg,
.xui-padding-top-children-lg > * {
  padding-top: 2rem;
}
.xui-padding-top-xl,
.xui-padding-top-children-xl > * {
  padding-top: 2.4rem;
}
.xui-padding-top-xxl,
.xui-padding-top-children-xxl > * {
  padding-top: 3.6rem;
}
.xui-padding-bottom,
.xui-padding-bottom-children > * {
  padding-bottom: 1.6rem;
}
.xui-padding-bottom-0,
.xui-padding-bottom-children-0 > * {
  padding-bottom: 0 !important;
}
.xui-padding-bottom-xs,
.xui-padding-bottom-children-xs > * {
  padding-bottom: 0.5rem;
}
.xui-padding-bottom-sm,
.xui-padding-bottom-children-sm > * {
  padding-bottom: 1rem;
}
.xui-padding-bottom-md,
.xui-padding-bottom-children-md > * {
  padding-bottom: 1.6rem;
}
.xui-padding-bottom-lg,
.xui-padding-bottom-children-lg > * {
  padding-bottom: 2rem;
}
.xui-padding-bottom-xl,
.xui-padding-bottom-children-xl > * {
  padding-bottom: 2.4rem;
}
.xui-padding-bottom-xxl,
.xui-padding-bottom-children-xxl > * {
  padding-bottom: 3.6rem;
}
.xui-padding-horizontal,
.xui-padding-horizontal-children > * {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}
.xui-padding-horizontal-0,
.xui-padding-horizontal-children-0 > * {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.xui-padding-horizontal-xs,
.xui-padding-horizontal-children-xs > * {
  padding-left: .5rem;
  padding-right: 0.5rem;
}
.xui-padding-horizontal-sm,
.xui-padding-horizontal-children-sm > * {
  padding-left: 1rem;
  padding-right: 1rem;
}
.xui-padding-horizontal-md,
.xui-padding-horizontal-children-md > * {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}
.xui-padding-horizontal-lg,
.xui-padding-horizontal-children-lg > * {
  padding-left: 2rem;
  padding-right: 2rem;
}
.xui-padding-horizontal-xl,
.xui-padding-horizontal-children-xl > * {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}
.xui-padding-horizontal-xxl,
.xui-padding-horizontal-children-xxl > * {
  padding-left: 3.6rem;
  padding-right: 3.6rem;
}
.xui-padding-vertical,
.xui-padding-vertical-children > * {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}
.xui-padding-vertical-0,
.xui-padding-vertical-children-0 > * {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.xui-padding-vertical-xs,
.xui-padding-vertical-children-xs > * {
  padding-top: .5rem;
  padding-bottom: 0.5rem;
}
.xui-padding-vertical-sm,
.xui-padding-vertical-children-sm > * {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.xui-padding-vertical-md,
.xui-padding-vertical-children-md > * {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}
.xui-padding-vertical-lg,
.xui-padding-vertical-children-lg > * {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.xui-padding-vertical-xl,
.xui-padding-vertical-children-xl > * {
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
}
.xui-padding-vertical-xxl,
.xui-padding-vertical-children-xxl > * {
  padding-top: 3.6rem;
  padding-bottom: 3.6rem;
}
.a-dsiable:hover {
  cursor: not-allowed;
}
