body,
html {
    /* color: #333333;
    font-family:\5FAE\8F6F\96C5\9ED1, \5B8B\4F53, verdana, arial, tahoma;
    font-size: 12px; */
    height: 100%;
    /* overflow-y:hidden;  */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
dt,
dd,
li,
body,
form,
input,
button,
img,
cite,
strong,
em,
table,
td,
th {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style-type: none;
}


/* select组件 */

select,
select.form-control {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 1px solid #d1d2d3;
    border-radius: 2px;
    background-color: #fff;
    background: url('../imgs/select.png') no-repeat scroll right center transparent;
   /* background-image: url('../imgs/select.png');
    background-repeat: no-repeat;
    background-position: right center;*/
    box-shadow: none !important;
    color: #171d25;
    font-size: 12px;
    cursor: pointer;
    height: 27px;
    /*padding: 2px 24px 4px 6px;*/
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* min-width: 160px;
    max-width: 280px; */
}
select::-ms-expand { display: none; } 

/* 下拉选框组件 */

.dropdown-menu li.disabled,
.dropdown-menu li[disabled],
.dropdown-menu li.disabled a,
.dropdown-menu li[disabled] a {
    pointer-events: none;
    cursor: not-allowed;
    color: #a0a0a0;
}


/* 失效的按钮的样式 */

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn,
.btn.disabled:hover,
.btn[disabled]:hover,
fieldset[disabled] .btn:hover {
    border-color: #d5d5d5;
    background: #e8e8e8;
    color: #a2a2a2;
    cursor: not-allowed;
    opacity: 1;
}


/*模态框 样式微调*/

.modal .modal-dialog .modal-header {
    padding: 15px 20px;
}

.modal .modal-dialog .modal-body {
    padding: 20px;
}

.modal .modal-dialog .modal-footer .btn {
    font-size: 14px;
    font-weight: 400;
    padding: 5px 20px;
}


/*h1, h2, h3, h4, h5, h6 { font-size: 14px; }*/


/* u, i { font-style:normal; text-decoration:none }
img, table, td, th {
    border:0;
}
img { vertical-align:middle; border:none; }

.clear { clear:both; }
.clearfix:after { clear: both; content: " "; display: block; height: 0; visibility: hidden; }
.clearfix { zoom:1 }
.fl { float:left; display:inline; }
.fr { float:right; display:inline; }
.mt10 { margin-top:10px; }
.mt20 { margin-top:20px; }
.ml10 { margin-left:10px; }
.mr10 { margin-right:10px; }
*/

a:hover,
a:focus {
    text-decoration: none;
}

.form-control-feedback i.fa-search {
    color: #aaa;
}

.table>thead>tr>th,
.table>thead>tr>td {
    border-bottom-width: 1px;
}

.table>tbody+tbody {
    border-width: 1px;
}

.nav-tabs li a {
    color: #74777c;
}