{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties", // 解析静态属性
    "@babel/plugin-proposal-object-rest-spread", // 可以对对象使用spread操作符
  ]
}
