<div class="all-div-overflow" ng-controller="DemoController">
  <div class=" xui-padding">
    <h2 class="">云服务器</h2>

    <!--地区选择-->
    <div class="clearfix mj-btn-opt-group mj-btn-group-area xui-margin-top cloud-mj-btn-di">
      <div class="opt-item" ng-repeat="item in regionList">
        <input id="area{{$index}}" type="radio" value="{{item.regionCode}}"
          ng-checked="{{item.region == activeRegion}}" class="ng-pristine ng-untouched ng-valid ng-not-empty"
          name="item.regionName">
        <label for="area{{$index}}" class="btn btn-default">{{item.regionName}}</label>
      </div>
    </div>
  </div>

  <div class="clearfix">
    <div class="col-lg-4 col-md-4 col-sm-4 pull-right">
        <div class="input-group overflow-right-all">
            <input type="text" class="form-control" placeholder="请输入IP或主机名"   ng-model="query.skey" ng-change="search()">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">
                <i class="fa fa-search"></i>
            </button>
        </span>
        </div>
    </div>
  </div>
</div>